In [0]:
import pandas as pd
from google.colab import files

In [0]:
df = pd.read_csv('data_test_clean.csv')
df.head()

   Unnamed: 0                id  ... insult  identity_hate
0      119105  7ca72b5b9c688e9e  ...    0.0            0.0
1      131631  c03f72fd8f8bf54f  ...    0.0            0.0
2      125326  9e5b8e8fc1ff2e84  ...    0.0            0.0
3      111256  5332799e706665a6  ...    0.0            0.0
4       83590  dfa7d8f0b4366680  ...    0.0            0.0

[5 rows x 9 columns]

In [0]:
df = df.rename(columns={'clean_comment': 'message'})
df = df.drop('id',axis = 1)
df = df.drop('Unnamed: 0',axis = 1)

In [0]:
df = df.drop('severe_toxic',axis = 1)
df = df.drop(df[df.threat == 1].index)
df = df.drop('threat',axis = 1)
df = df.drop(df[df.identity_hate == 1].index)
df = df.drop('identity_hate',axis = 1)
from sklearn.utils import shuffle
df = shuffle(df)
df['racism'] = 0
df['sexism'] = 0

In [0]:
df.head()

                                                 message  toxic  ...  racism  sexism
8249   b'please see wpagf and wpnpa the declining rea...    0.0  ...       0       0
23040  b' stockpuppet hazardsj who is andreas balart ...    0.0  ...       0       0
23282  b'central europe please look at the map of eur...    0.0  ...       0       0
30335  b'well now that i look at the article more clo...    0.0  ...       0       0
6908   b' i am afraid that you are right \xe2\x80\x94...    0.0  ...       0       0

[5 rows x 6 columns]

In [0]:
df.to_csv('cleanTestingFinal.csv')
files.download('cleanTestingFinal.csv')